.homepage {
  margin: 40px 0;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.refs {
  display: flex;
  justify-content: space-between;
}

.book-table,
.order-online,
.opening-hours {
  background: gray;
  color: #fff;
  margin: 5px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  a {
    text-decoration: none;
    color: white;
  }
}

.order-online {
  background-image: url('../../images/homepage/pizza-1.jpg');
}

.book-table {
  background-image: url('../../images/homepage/pizza-2.jpg');
}

.opening-hours {
  flex-direction: column;
  height: 120px;
  background-color: rgb(235, 84, 84);
  p {
    font-size: 25px;
    margin: 3px;
    padding: 0;
    font-style: italic;
  }
  #smaller {
    font-size: 14px;
  }
}

.main-carousel {
  margin-top: 100px;
  height: 200px;
}

.carousel-cell {
  display: flex;
  align-items: center;

  width: 100%; /* full width */
  height: 200px; /* height of carousel */
  margin-right: 10px;

  &.image {
    flex: 1;
  }

  &.description {
    flex: 1;
  }
}
