.homepage {
  margin: 40px 0;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.refs {
  display: flex;
  justify-content: space-between;
}

.book-table,
.order-online,
.opening-hours {
  background: gray;
  color: #fff;
  margin: 1px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding-top: 40px;
    width: 100%;
    height: 100%;
  }
}

.order-online {
  background-image: url('../../images/homepage/pizza-1.jpg');
}

.book-table {
  background-image: url('../../images/homepage/pizza-2.jpg');
}

.order-online:hover,
.book-table:hover {
  a {
    padding-top: 30px;
    transition: 1s ease;
  }
}

.opening-hours {
  flex-direction: column;
  height: 120px;
  background-color: rgb(235, 84, 84);
  p {
    font-size: 25px;
    margin: 3px;
    padding: 0;
    font-style: italic;
  }
  #smaller {
    font-size: 14px;
  }
}

.main-carousel {
  margin-top: 100px;
  height: 200px;
}

.carousel-cell {
  display: flex;
  align-items: center;

  width: 100%; /* full width */
  height: 201px; /* height of carousel */
  margin-right: 10px;

  & .image {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
  }

  & .description {
    margin-left: 20px;
    color: rgb(83, 83, 83);
    flex: 1;

    & #name {
      font-style: italic;
    }
  }
}

.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #f90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}

//gallery

.gallery {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item {
  width: 100%;
  height: 120px;
  position: relative;

  & .icons {
    position: absolute;
    top: 40%;
    right: 5%;

    width: 170px;
    height: 80px;
    color: rgb(0, 0, 0);
    opacity: 0;
  }

  & img {
    width: 100%;
    height: 100%;
  }

  i {
    color: black;
    padding: 10px;
    font-size: 26px;
  }

  i:hover {
    color: red;
  }
}

.item:hover {
  .icons {
    opacity: 1;
  }

  img {
    opacity: 0.2;
    transition: 0.3s ease;
  }
}

.link {
  margin-top: 40px;

  & a {
    color: black;
  }
}
